{{> header}}

  <!-- header -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1> <i class="fa fa-gamepad text"></i></h1>
          <h1>Lan and Play! Get Your Game on <br> <small> Join the community where you meet new people and have fun gaming</small>
          </h1>
        </div>
      </div>
    </div> 
  </div>
  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{#if user}}
        <!-- new event form-->
          <h1 class="text-center h1isWhite cvent">Create An Event</h1>

            <form class="form-group formWrap" id="create-event">
              <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
              </div>
              <div class="form-group">
                <input type="text" name="description" class="form-control" placeholder="Description">
              </div>
              <div class="form-group">
                <input type="text" name="date" class="form-control" placeholder="Date: mon/day/year" autofocus>
              </div>
              <div class="form-group">
                <input type="text" name="time" class="form-control" placeholder="Time: example 10:00 pm" autofocus>
              </div>
              <div class="form-group">
                <input type="text" name="location" class="form-control" placeholder="location" autofocus>
              </div>
              <div class="form-group">
                <input type="text" name="picture" class="form-control" placeholder="insert pic URL" autofocus>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-default" value="Add event">
              </div>
            </form>
          <br>


        {{/if}}
        <!-- list of events -->
        <h1 class="text-center h1isWhite lvents"> Lan Events!</h1>
        <ul class="list-group" id="events-list">
          <!-- handlebars template -->
          <script id="events-template" type="text/x-handlebars-template">
            \{{#each events}}
              <li class="list-group-item event" data-id="\{{_id}}">
                <div>
                  <!-- event label (title) -->
                  <h3 class="text-center h3isWhite">\{{title}}</h3>
                  <img class="eventpic" src = "\{{picture}}" alt='no image' onError="this.onerror=null;this.src='http://cdn-0.freeclipartnow.com/d/36233-1/OldSchoolGameController.jpg';">
                  <!--event description -->
                  <h4 class="yea text-center">Description: <small> \{{description}} </small></h4>
                  <!--event date -->
                  <h4 class="yea text-center">Date of Event: <small> \{{date}}</small></h4>
                  <!-- event time -->
                  <h4 class="yea text-center">Time of Event: <small> \{{time}}</small></h4>
                  <!--event location-->
                  <h4 class="yea text-center">Address: <small> \{{location}} </small> </h4>
                  <!--users can only see these icons to delete events-->
                  {{#if user}}
                  <div class="pull-right crudcons">
                    <!-- pencil icon to toggle update form -->
                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-\{{_id}}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <!-- trash can icon to delete event -->
                    <a href="javascript:void(0)" class="delete-event">
                      <i class="fa fa-trash"></i>
                    </a>
                  </div>
                  {{/if}}
                  <!-- form to update event -->
                  <div class="collapse" id="update-\{{_id}}">
                    <br>
                    <form class="form-inline update-event">
                      <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Title" value="\{{title}}">
                      </div>
                      <div class="form-group">
                        <input type="text" name="description" class="form-control" placeholder="Description" value="\{{description}}">
                      </div>
                      <div class="form-group">
                        <input type="text" name="date" placeholder="Date: mon/day/year" value="\{{date}}">
                      </div>
                      <div class="form-group">
                        <input type="text" name="time" placeholder="Time: example 10:00 pm" value="\{{time}}">
                      </div>
                      <div class="form-group">
                        <input type="text" name="location" class="form-control" placeholder="location" value="\{{location}}">
                      </div>
                      <div class="form-group">
                        <input type="submit" class="btn btn-block btn-default" value="Update">
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            \{{/each}}
          </script>
        </ul>
      </div>
    </div>
  </div>
<!-- Beginning of footer -->
  <div class="footer">
    <div class="container">
      <p> Lan And Play by Breon Knight all rights reserved. Game on!</p>
    </div>
  </div>
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
</body>
</html>