{{> header}}
  <div class="container profcolor">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <br>
        <br>
        <h1 class="h1isWhite">Hey, {{user.username}}</h1>
        <h2 class="h2isWhite">Welcome Back <i class="fa fa-smile-o"></i> </h2>
        {{#each user.events}}
        <ul class="list-group" id="events-list">
          <li class="list-group-item event" data-id="\{{_id}}">
            <div class="userEvents">
            <div class="pull-right">
              <!-- pencil icon to toggle update form -->
              <a href="javascript:void(0)" data-toggle="collapse" data-target=  "#update-\{{_id}}">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <!-- trash can icon to delete event -->
              <a href="javascript:void(0)" class="delete-event">
                <i class="fa fa-trash"></i>
              </a>
            </div>
              <h3 class="userEventTitle yea">{{title}}</h3>
              <h4> <strong>Description: </strong></small> {{description}}</small></h4>
              <h4> <strong>Location: </strong> </small>{{location}}</small></h4>
              <h4> <strong>Date: </strong><small> {{date}}</small></h4>
              <h4> <strong>Time: </strong> </small>{{time}}</small></h4>
            </div>
          </li>
        </ul>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>