{{> header}}
  <div class="container profcolor">

    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <br>
        <br>
        <br>
        <h1>Hey, {{user.username}}</h1>
        <h2>Welcome Back <i class="fa fa-smile-o"></i> </h2>
        <p>This is your profile page.</p>
        {{#each user.events}}
          <div class="userEvents">
          <h3 class="userEventTitle">{{title}}</h3>
          <h4> <strong>Description: </strong></small> {{description}}</small></h4>
          <h4> <strong>Location: </strong> </small>{{location}}</small></h4>
          <h4> <strong>Date: </strong><small> {{date}}</small></h4>
          <h4> <strong>Time: </strong> </small>{{time}}</small></h4>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="navbar navbar-fixed-bottom profnav">
      <p> Lan And Play by Breon Knight all rights reserved. Game on!</p>
  </div>
  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>